@font-face {
    font-family: 'InterBold';
    src: url('../fonts/Inter/Inter-Bold.otf'), format('otf');
}
@font-face {
    font-family: 'InterLight';
    src: url('../fonts/Inter/Inter-Light.otf'), format('otf');
}
@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/Inter/Inter-Regular.otf'), format('otf');
}
@font-face {
    font-family: 'InterMedium';
    src: url('../fonts/Inter/Inter-Medium.otf'), format('otf');
}
@font-face {
    font-family: 'InterThin';
    src: url('../fonts/Inter/Inter-Thin.otf'), format('otf');
}