.footer{
    padding: 80px 135px 120px 135px;
    background: url('../media_files/background/Wave.svg') no-repeat bottom;
    background-size: contain;  
}

.footer, .information_links div, .links, .information_links, .links div {
    display: flex;
}
.footer{
    justify-content: space-between;
    
}

/*Social media*/
.social_media{
    margin-bottom:45px;
}
.social_media p, .mail_info p{
    margin-bottom:12px;
}
.social_media_links a img{
    background: transparent;
    border-radius:50%;
    height: 40px;
    width: 40px;
    transition: background-color .3s ease;
    margin-right: 37px;
}
.social_media_links a, .mail_info a{
    
    cursor: pointer;
    text-decoration: none;
    outline:none;
}

.social_media_links a:last-child{
    margin-right: 0px;
}
.social_media_links a img:hover, .social_media_links a img:focus{
    background-color: var(--light_yellow);
}

/*Information*/


.links div, .information_links{
    flex-direction: column;  
}
.links div{
    margin-right: 30px;
}
.links div:last-child{
    margin-right: 0;
}
.links div a{
    margin-bottom: 16px;
    color: var(--black);
    cursor: pointer;
    font-size: 14px;
    font-family: var(--font-family-R);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s ease;
} 
.links div a:last-child{
    margin-bottom: 0;
}

.links div a, .footer_subtitle{
    font-weight: 800;
}

.footer_subtitle, .mail_info a{
    font-family: var(--font-family-B);
}


.footer_subtitle{
    text-transform: uppercase;
    color: var(--gray_light);
    font-size: 12px;
    letter-spacing: 2.5px;
    margin-bottom: 16px;
    
}
.links div a:hover, .links div a:focus{
    border-bottom: 1px solid var(--black);
}

.mail_info a{
    color: var(--dark_purple);
    font-weight: 700;
    font-size: 32px;
    transition: color .3s ease;
}
.mail_info a:hover, .mail_info a:focus{
    color: var(--light_purple);
}

/*form*/

.footer_forms{
    margin-top: 48px;
}
form input{
    color: var(--dark_purple);
    background-color: rgba(194, 194, 194, 0.4);
    padding: 8px 16px;
    border-radius: 16px;
    border: 2px solid transparent;
    height: 48px;
    width: 270px;
    font-size: 18px;
    font-weight:400;
    font-family: var(--font-family-R);
    transition: border .3s ease;
}

form textarea{
    background-color: rgba(194, 194, 194, 0.4);
    resize: none;
    padding: 16px;
    height:80px;
    width: 370px;
    border-radius: 16px;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight:400;
    font-family: var(--font-family-R);
    color: var(--dark_purple);
    transition: border var(--animation_ease);
}

form textarea::placeholder{
    color: var(--dark_purple);
    font-size: 18px;
    font-family: var(--font-family-B);
    font-weight: 700;
}

form input::placeholder{
    color: var(--black);
    font-size: 18px;
    font-weight:400;
    font-family: var(--font-family-R);
    
}

.footer_button{
    text-transform: uppercase;
    height:80px;
    width:170px;
}

.footer_button:hover, .footer_button:focus{
    box-shadow: 0px 16px 32px 0px rgba(38, 50, 56, 0.08), 0px 8px 24px 0px rgba(38, 50, 56, 0.1);
}

form textarea:hover,form input:hover, 
form textarea:focus,form input:focus{
    border: 2px solid var(--dark_purple);
}

.footer_feedback_form div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_feedback_form div:first-child{
    margin-bottom: 30px;
}
input[type="text"], textarea{
    margin-right: 30px;
}
