
/*Header*/
.header, .header_logo, .header_navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    padding: 16px 135px;
    box-shadow:  0px 2px 4px 0px #26323829, 0px 4px 8px 0px #26323814;
    justify-content: space-between;
    background-color: white;
}

.nav_link_point{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: var(--dark_yellow);
    margin: 0 16px;

}
.header_logo_title{
    font-family: var(--font-family-B);
    font-size: 48px;
    font-weight: 700;
}
.header_link{
    outline: none;
    text-decoration: none;
    font-family: var(--font-family-R);
    font-weight: 400;
    font-size: 18px;
    color: var(--dark_purple);
    transition: color var(--animation_ease);
}


.header_link:hover,.header_link:focus,.header_logo_title {
    color: var(--black);
}

/*Main*/
